discord.py
pycaw
comtypes
requests
pyinstaller
colorama
curl
mss
pynput
pyautogui
browserhistory
pywin32
winreg
ctypes
urllib3
zipfile
asyncio
socket
json
pillow
psutil
cryptography
opencv-python
base64
re
shutil
platform
nuitka
pywin32
win32com
datetime
